@charset "UTF-8";

*{margin: 0px;
padding: 0px;
font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #016FA4;
    --cor2: #040740;
    --cor3: #3182C9;
    --cor4: #00D6F6;
    --cor5: #0A37BF;
}

body, html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: var(--cor1);
}

main {
    position: relative;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 25px 20px rgba(0, 0, 0, 0.233);
    width: 300px;
    height: 600px;
}

form {
    padding: 0px;
}

div#imagem {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("../imagens/imagem\ chave.jpg");
    background-position: center top;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 280px;
    margin: 0px;

}

div#login {
    margin-top: 290px;
}

div#login h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

div#login p {
    font-size: 0.9em;
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
}

form {
    padding: 10px;
    font-size: 0.9em;
}

span {
    color:#00D6F6;    
}

form input#idemail, input#idsenha {
    margin-bottom: 5px;
    background-color: var(--cor4);
    border-radius: 5px;
    height: 20px;
    width: 240px;  
}

form input#entrar {
    background-color: var(--cor3);
    border: 1px solid #00D6F6;
    width: 200px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    border-radius: 5px;
}

input#lembrar {
    background-color: white;
    border: 1px solid #016FA4;
    width: 200px;
    height: 25px;
    margin-bottom: 5px;
    margin-left: 40px;
    border-radius: 5px;
}

form input#lembrar:hover {
    cursor: pointer;
    background-color: #6aabe4;
    color: rgb(0, 0, 0);
}

form input#entrar:hover {
    cursor: pointer;
    background-color: #6aabe4;
    color: rgb(0, 0, 0);
}